@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html{
    font-family: 'Montserrat';
    margin: 0;
    a {
        text-decoration: none;
    }

}

header {
    padding: 2em;

    .logo {
        color: black;
        font-weight: bold;
    }

    .menu-btn{

        width: 18px;
        float: right;
        cursor: pointer;
    }
}

section{

    padding: 4em;

    h1{

        font-size: 4em;
        margin: 1em auto;
        width: 70%;

        &::before {
            content: ' ';
            border-top: 6px solid rgb(66, 77, 77);
            
        }
    }
}

nav {
    position: absolute;
    background: black;
    padding: 2em;
    width: 100%;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
    }
    
    ul{
        list-style-type: none;
        margin: 10% auto 0 20%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 80%;

        a   {
        color: white;
        font-weight: bold;
        font-size: 1.4em;
            }

        span{
        color: blanchedalmond;
        display: block;
        font-size: .75em;
        margin-top: 10px;
            }
        }

    }
    
.show-menu{
    display: block;
    animation: slide-menu is ease-in forwards;
}

    
@keyframes slide-menu{

    from {
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1)
    }

}